<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ProxyPost</title>
</head>
<body>
    <h1>ProxyPost</h1>
    <form action="/" method="POST">
        <input type="text" id="msg" name="msg" placeholder="Message">
        <input type="text" id="key" name="key" placeholder="Optional Mod Key" id="short">
        <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/rules">RULES</a>
    <br>
    <P>Type a message, and click submit to post to the bot's Instagram. All IP addresses are hashed using SHA-256, then salted, for your security.</P>
      <p>Henry Bass, 2022</p>
</body>
<script>
    
</script>
</html>