<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ProxyPost</title>
</head>
<body>
    <h1>ProxyPost</h1>
    <br>
    <a href="/">Back</a>
    <br>
    <P>Sorry, but I can't post this at the moment. Please wait a minute, and try again. This is just to prevent too much traffic to my server, and to keep the bot from being banned. Yes, I know it's annoying, but otherwise the entire system won't work.</P>

</body>
</html>