<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ProxyPost</title>
</head>
<body>
    
    <h1>ProxyPost</h1>
    <br>
    <a href="/">Back</a>
    <br>
    <h1>Rules:</h1>
    <p>1: Don't do stuff that will get me arrested (Yes, that is a risk)</p><br>
    <p>2: Don't post too frequently (I don't want my server to break, and you will be anonymously IP banned)</p><br>
    <p>3: Contact Henry (Or DM the bot) directly over any concerns. DO NOT REPORT POSTS TO INSTAGRAM, THAT MAY GET THE BOT BANNED</p><br>
    <p>4: Be nice and whatever</p>
</body>
</html>