<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ProxyPost</title>
</head>
<body>
    <h1>ProxyPost</h1>
    <br>
    <a href="/">Back</a>
    <br>
    <P>Post sent. It should appear on instagram in a few seconds. If this does not happen within 1 minute, please try again.</P>

</body>
</html>